#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reac,.react,.react1,.react2,.react11,.react10,.react12,.react13 {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.fans{
  display: flex;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3460deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react{
    animation: logo-spin infinite 7.1s linear;
  }
  .react1{
    animation: logo-spin infinite 5s linear;
  }
  .react2{
    animation: logo-spin infinite 1.8s linear;
  }



  .react10{
    animation: logo-spin infinite 9.8s linear;
  }
  .react11{
    animation: logo-spin infinite 29.8s linear;
  }
  .react12{
    animation: logo-spin infinite 39.8s linear;
  }
  .react13{
    animation: logo-spin infinite 59.8s linear;
  }

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bottons{
  margin: 3px;
 
}

button{
  margin: 5px ;
  background-color: aqua;
}